body{
    padding:0px;
    margin:0px;
    font-family: Arial;
}
#forgotpasswordheading{
    text-align:center;
    margin-top:10rem;
    color:rgb(7, 12, 60);
}
#forgotpasswordpara{
    text-align: center;
    font-size:1.3rem;
    color:rgb(7, 12, 60);
}
#forgotpasswordform{
    margin-top:2rem;
    margin-left:25rem;
    background-color:rgb(7, 12, 60);
    padding: 2rem;
    border-radius:10px;
    color:white;
    width:35rem;
    height:fit-content;
}
#forgotpasswordform input{
     width:70%;
     padding:0.3rem;
     margin-left:1.2rem;
     border-radius:10px;
}
#forgotpasswordform label{
    margin-left:2rem;
}
#forgotpasswordform button{
    margin-top:1rem;
    padding:0.2rem 1rem;
    background-color:white;
    color:black;
    border:none;
    border-radius:10px;
    cursor:pointer;
    width:70%;
    margin-left:6rem;
    font-size:1.1rem;
}
#forgotpasswordform button:hover{
    color:red;
    border:1px solid red;
}
#forgotpasswordform2{
    margin-top:2rem;
    margin-left:25rem;
    background-color:rgb(7, 12, 60);
    padding: 2rem;
    border-radius:10px;
    color:white;
    width:35rem;
    height:fit-content;
}
#forgotpasswordform2 p{
   font-size:1.2rem;
   margin-bottom:1rem;
}
#forgotpasswordform2 input{
     width:70%;
     padding:0.3rem;
     margin-left:1.2rem;
     border-radius:10px;
     margin-bottom:1rem;
}

#forgotpasswordform2 label{
    margin-left:2rem;
}
#forgotpasswordform2 button{
    padding:0.2rem 1rem;
    background-color:white;
    color:black;
    border:none;
    border-radius:10px;
    cursor:pointer;
    width:70%;
    margin-left:8rem;
    font-size:1.1rem;
}
#forgotpasswordform2 button:hover{
    color:red;
    border:1px solid red;
}
